|index | category | categoryName|
|------|----------|-------------|
{{#enums}}
    |{{CATEGORY_SEQ}}| {{categoryName}} | {{Upper_Snake_Category}} |
{{/enums}}

--------------------------------------------------------------------

{{#enums}}

    {{CATEGORY_SEQ}} | {{Upper_Snake_Category}} | {{categoryName}}

| Category | categoryName | itemLabel |  itemKey | itemName | itemValue | itemSeq | remark |
|------|----------|-------------|------|----------|---------------|---|---|
    {{#items}}
|{{Upper_Snake_Category}}|{{categoryName}}| {{itemLabel}}|{{itemKey}}|{{itemName}}|{{itemValue}}|{{itemSeq}}|{{remark}}|
    {{/items}}

{{/enums}}





