|index | category | categoryName|
|------|----------|-------------|
{{#enums}}
    |{{CATEGORY_SEQ}}| {{categoryName}} | {{Upper_Snake_Category}} |
{{/enums}}


{{#enums}}

    {{CATEGORY_SEQ}} | {{categoryName}} | {{Upper_Snake_Category}}

| Category | categoryName | itemValue | itemKey | name | itemSeq |
|----------------------|--------------|-----------|---------|------|---------|
    {{#items}}
|{{Upper_Snake_Category}}|{{categoryName}}|{{itemValue}}|{{itemKey}}|{{name}}|{{itemSeq}}|
    {{/items}}

{{/enums}}





